.baseforget{
    display:flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    width: 70%;
    height: 100%;
    margin: 50px auto;
    padding: 50px 0 0;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
}
.forgetform{
   margin-left: 300px;
    width: 350px;
    height: 450px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-sizing: border-box;


}
.forget_input_box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.forget_input_box input{
 
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #0094ff;
  outline: none;
  resize: none;
  color:#d1d1d1
}
.forget_input_box span{
  position: absolute;
  left: 50px;
  padding: 5px 0;
  font-size: 10px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #00bcd4;
}
.forget_input_box input:focus ~ span,
.forget_input_box input:valid ~ span
{
   color: #00bcd4;
   font-size: 12px;
   transform: translateY(-20px);

}

.forgetimg[alt="user"]{
   
    position: absolute;
    top: -20px;
    left: 422px;
    width:100px;
    height: 100px;
    border-radius: 50%;
}
.forgeth2{
    color: #fff;
    text-align: center;
    margin-top: 90px;
}
.forgetemail{
    

    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
    border:none;
    width:250px;
    height: 35px;

    border-bottom: 2px solid #0094ff;
    background:transparent;
    padding: 5px;
    color: #d1d1d1;
}
.forgetbuttom{
    margin-top: 80px;
    width: 130px;
    height: 35px;
    background: #0077ff;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

